@import url('/styles/base.css');

.list-promocode {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 740px;
    padding: 10px 50px;
    margin: 30px;
    border-radius: 6px;
}

.list-promocode-format {
    display: grid;
    grid-template-columns: 1.5fr 0.7fr 1fr 0.7fr 0.7fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
}

.list-promocode-format:hover {
    background-color: #f9f9f9;
}

.list-promocode-format-main {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    color: #454545;
    font-weight: 600;
    border-bottom: 2px solid #ccc;
}

.list-promocode-all-items {
    flex-grow: 1;
    width: 100%;
}

.list-promocode-format {
    align-items: center;
    font-weight: 500;
}

.loading-message,
.no-items-message {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 25px;
}

.error-message {
    font-size: 25px;
    padding-top: 25px;
    color: #ff0000;
}